[submodule "themes/simple-hugo-theme"]
	path = themes/simple-hugo-theme
	url = https://github.com/Xzya/simple-hugo-theme
[submodule "themes/hugo-classic"]
	path = themes/hugo-classic
	url = git@github.com:goodroot/hugo-classic.git
[submodule "public"]
	path = public
	url = git@github.com:novotnyr/novotnyr.github.io.git
